/*Styling the body*/

body {
  background-color: blue;
}


/*Styling the wrapper, header and project contents to beautify the appearance of the project*/

.form-wrapper {
  width: 550px;
  height: 300px;
  border: 2px solid black;
  background-color: ghostwhite;
}

#result {
  display: none;
}

h3 {
  text-align: center;
}

.form-group {
  margin-left: 10px;
}

#translate {
  margin-left: 10px;
}

.error {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 2em;
}
